<meta property="og:title" content="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Params.ogimage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ogimage }}" />
{{ end }}

{{ if .Params.author }}
    {{ .Render "ogdetails" }}
{{ else }}
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
{{ end }}