<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    {{ partial "sidebarheader.html" . }}

    {{ if .Site.Title }}<h1 class="brand-title"><a href="/">{{ .Site.Title }}</a></h1>{{ end }}
    {{ if .Site.Params.subtitle }}<h2 class="brand-tagline">{{ .Site.Params.subtitle }}</h2>{{ end }}

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
          <li class="nav-item{{if $currentNode.IsMenuCurrent "main" . }} current-menu-item{{end}}"><span class="nav-item-separator">//</span><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <nav class="nav">
      <ul class="nav-list">
        {{ range .Site.Menus.countries }}
          <li class="nav-item{{if $currentNode.IsMenuCurrent "countries" . }} current-menu-item{{end}}"><span class="nav-item-separator">//</span><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <nav class="nav">
      <ul class="nav-list rss">
        <li class="nav-item"><span class="nav-item-separator"></span> <a href="http://feeds.feedburner.com/ArjensTravels">RSS</a></li>
      </ul>
    </nav>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-separator">//</span><a href="http://ig.nore.me">ig.nore.me</a></li>
      </ul>
    </nav>

    {{ if .Site.Menus.social }}
    <div class="social-buttons">
      {{ range .Site.Menus.social }}
        {{ if .URL }}
        <a href="{{ .URL }}">{{ .Pre }}</a>
        {{ end }}
      {{ end }}

    </div>
    {{ end }}



  </div>
</div>
